root = true

[*.js]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
quote_type = single
max_line_length = 150

[*.sol]
indent_style = space
indent_size = 4
max_line_length = 150

[*.md]
max_line_length = 150

[.mnemonic*]
insert_final_newline = false
