node_modules/
.npmrc*

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

.env*
!.env.example

cache/
artifacts/*
!artifacts/build-info/
!artifacts/contracts/

coverage*
.coverage*
smartcheck*
flattened*
docs/
gas-report.md

deployments/hardhat*
deployments/localhost*

exports/localhost*
exports/hardhat*

generated/localhost*
generated/hardhat*

.mnemonic*

hardhat.config.last.json

*.log

.DS_Store

hardhat.config.private.json
scripts/deployDose*.json
