---
title: Smart Contract Reference

language_tabs: # must be one of https://git.io/vQNgJ
- javascript

toc_footers:
- <h1>Smart Contract repository</h1>

# includes:
# - errors

search: true
---

# Introduction

Welcome to the Animoca Brands Ethereum smart contracts core library documentation.

# Contracts ABI
